In [1]:
import argparse, os, sys
from time import time
import pandas as pd 
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet'
file_name = url.rsplit('/', 1)[-1].strip()
print(file_name)

yellow_tripdata_2021-01.parquet

In [6]:
os.system(f'curl {url.strip()} -o {file_name}')

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 20.6M  100 20.6M    0     0  5021k      0  0:00:04  0:00:04 --:--:-- 5022k

0

In [7]:
file = pq.ParquetFile(file_name)
df = next(file.iter_batches(batch_size=10)).to_pandas()
df_iter = file.iter_batches(batch_size=100000)

In [8]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1.0,1.60,1.0,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5,NaN
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1.0,4.10,1.0,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0,NaN
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1.0,5.70,1.0,N,90,40,2,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5,NaN
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1.0,9.10,1.0,N,97,129,4,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0,NaN
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2.0,2.70,1.0,N,263,142,1,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5,NaN

In [9]:
df.head(0).to_sql(name='yellow_tripdata_2021-01', con=engine, if_exists='replace')

0

In [11]:
t_start = time()
count = 0
for batch in df_iter:
    count+=1

    if '.parquet' in file_name:
        batch_df = batch.to_pandas()
    else:
        batch_df = batch

    print(f'inserting batch {count}...')

    b_start = time()
    batch_df.to_sql(name='yellow_tripdata_2021-01', con=engine, if_exists='append')
    b_end = time()

    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken      7.363 seconds.

inserting batch 2...
inserted! time taken      6.916 seconds.

inserting batch 3...
inserted! time taken      6.846 seconds.

inserting batch 4...
inserted! time taken      6.570 seconds.

inserting batch 5...
inserted! time taken      6.901 seconds.

inserting batch 6...
inserted! time taken      6.654 seconds.

inserting batch 7...
inserted! time taken      6.955 seconds.

inserting batch 8...
inserted! time taken      6.782 seconds.

inserting batch 9...
inserted! time taken      7.333 seconds.

inserting batch 10...
inserted! time taken      7.297 seconds.

inserting batch 11...
inserted! time taken      7.737 seconds.

inserting batch 12...
inserted! time taken      6.690 seconds.

inserting batch 13...
inserted! time taken      4.403 seconds.

Completed! Total time taken was     88.652 seconds for 13 batches.