In [9]:
from time import time

In [10]:
import pandas as pd

In [11]:
from sqlalchemy import create_engine

In [19]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
df_p = pd.read_parquet('yellow_tripdata_2021-01.parquet')

In [18]:
df_p.tpep_pickup_datetime = pd.to_datetime(df_p.tpep_pickup_datetime)
df_p.tpep_dropoff_datetime = pd.to_datetime(df_p.tpep_dropoff_datetime)

In [21]:
df_p.drop('airport_fee', axis=1, inplace=True)

In [22]:
print(pd.io.sql.get_schema(df_p, name='yellow_taxi_pq', con = engine))

CREATE TABLE yellow_taxi_pq (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [24]:
df_p.to_sql(name='yellow_taxi_pq', con = engine, if_exists='append')

769

In [18]:
df2 = pd.read_csv('yellow-tripdata-2021-01.csv',nrows=100)

In [21]:
print(pd.io.sql.get_schema(df2, name='yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee TEXT
)

In [23]:
df_iter = pd.read_csv('yellow-tripdata-2021-01.csv', iterator=True, chunksize=100000)

In [24]:
df = next(df_iter)

In [25]:
len(df)

100000

In [28]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.drop('airport_fee', axis=1, inplace=True)

KeyError: "['airport_fee'] not found in axis"

In [31]:
df.head(n=0).to_sql(name='yellow_taxi_data', con = engine, if_exists='replace')

0

In [32]:
%time df.to_sql(name='yellow_taxi_data', con = engine, if_exists='append')

CPU times: user 4.66 s, sys: 298 ms, total: 4.96 s
Wall time: 12.5 s

1000

In [34]:
while True:
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.drop('airport_fee', axis=1, inplace=True)

    df.to_sql(name='yellow_taxi_data', con = engine, if_exists='append')

    t_end = time()

    print('Inserted the chunk in %.3f seconds' % (t_end - t_start))

Inserted the chunk in 11.334 seconds
Inserted the chunk in 12.075 seconds
Inserted the chunk in 10.951 seconds
Inserted the chunk in 10.702 seconds
Inserted the chunk in 10.908 seconds
Inserted the chunk in 10.892 seconds

/var/folders/z1/s30qpky14s9dlr028scsdqc00000gn/T/ipykernel_66245/3052709755.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

Inserted the chunk in 10.952 seconds
Inserted the chunk in 12.019 seconds
Inserted the chunk in 10.885 seconds
Inserted the chunk in 11.198 seconds
Inserted the chunk in 11.424 seconds

/var/folders/z1/s30qpky14s9dlr028scsdqc00000gn/T/ipykernel_66245/3052709755.py:4: DtypeWarning: Columns (3,5,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type bigint: "\N"
LINE 1: ...47'::timestamp, '2021-01-01T00:54:51'::timestamp, '\N', 15.9...
                                                             ^

[SQL: INSERT INTO yellow_taxi_data (index, "VendorID", tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, "RatecodeID", store_and_fwd_flag, "PULocationID", "DOLocationID", payment_type, fare_amount, extra, mta_tax, tip_amount, tol ... 452885 characters truncated ... amount__999)s, %(improvement_surcharge__999)s, %(total_amount__999)s, %(congestion_surcharge__999)s)]
[parameters: {'PULocationID__0': 166, 'tpep_pickup_datetime__0': datetime.datetime(2021, 1, 31, 22, 58, 26), 'mta_tax__0': 0.5, 'DOLocationID__0': 41, 'congestion_surcharge__0': '0', 'improvement_surcharge__0': 0.3, 'extra__0': 0.5, 'tolls_amount__0': 0.0, 'index__0': 1271000, 'tpep_dropoff_datetime__0': datetime.datetime(2021, 1, 31, 23, 3, 50), 'passenger_count__0': '1', 'trip_distance__0': 0.7, 'tip_amount__0': 1.35, 'store_and_fwd_flag__0': 'N', 'payment_type__0': 1, 'fare_amount__0': 5.5, 'RatecodeID__0': '1', 'total_amount__0': 8.15, 'VendorID__0': 1, 'PULocationID__1': 230, 'tpep_pickup_datetime__1': datetime.datetime(2021, 1, 31, 22, 14, 8), 'mta_tax__1': 0.5, 'DOLocationID__1': 246, 'congestion_surcharge__1': '2.5', 'improvement_surcharge__1': 0.3, 'extra__1': 3.0, 'tolls_amount__1': 0.0, 'index__1': 1271001, 'tpep_dropoff_datetime__1': datetime.datetime(2021, 1, 31, 22, 18, 38), 'passenger_count__1': '0', 'trip_distance__1': 0.7, 'tip_amount__1': 2.0, 'store_and_fwd_flag__1': 'N', 'payment_type__1': 1, 'fare_amount__1': 5.0, 'RatecodeID__1': '1', 'total_amount__1': 10.8, 'VendorID__1': 1, 'PULocationID__2': 186, 'tpep_pickup_datetime__2': datetime.datetime(2021, 1, 31, 22, 55, 2), 'mta_tax__2': 0.5, 'DOLocationID__2': 52, 'congestion_surcharge__2': '2.5', 'improvement_surcharge__2': 0.3, 'extra__2': 3.0, 'tolls_amount__2': 0.0, 'index__2': 1271002, 'tpep_dropoff_datetime__2': datetime.datetime(2021, 1, 31, 23, 18, 7), 'passenger_count__2': '1', 'trip_distance__2': 5.6 ... 18900 parameters truncated ... 'tolls_amount__997': 0.0, 'index__997': 1271997, 'tpep_dropoff_datetime__997': datetime.datetime(2021, 1, 1, 9, 58), 'passenger_count__997': '\\N', 'trip_distance__997': 1.3, 'tip_amount__997': 2.75, 'store_and_fwd_flag__997': '\\N', 'payment_type__997': 0, 'fare_amount__997': 12.22, 'RatecodeID__997': '\\N', 'total_amount__997': 15.77, 'VendorID__997': 2, 'PULocationID__998': 136, 'tpep_pickup_datetime__998': datetime.datetime(2021, 1, 1, 9, 1), 'mta_tax__998': 0.5, 'DOLocationID__998': 220, 'congestion_surcharge__998': '\\N', 'improvement_surcharge__998': 0.3, 'extra__998': 0.0, 'tolls_amount__998': 0.0, 'index__998': 1271998, 'tpep_dropoff_datetime__998': datetime.datetime(2021, 1, 1, 9, 7), 'passenger_count__998': '\\N', 'trip_distance__998': 1.68, 'tip_amount__998': 2.75, 'store_and_fwd_flag__998': '\\N', 'payment_type__998': 0, 'fare_amount__998': 19.06, 'RatecodeID__998': '\\N', 'total_amount__998': 22.61, 'VendorID__998': 2, 'PULocationID__999': 254, 'tpep_pickup_datetime__999': datetime.datetime(2021, 1, 1, 9, 27), 'mta_tax__999': 0.5, 'DOLocationID__999': 254, 'congestion_surcharge__999': '\\N', 'improvement_surcharge__999': 0.3, 'extra__999': 0.0, 'tolls_amount__999': 0.0, 'index__999': 1271999, 'tpep_dropoff_datetime__999': datetime.datetime(2021, 1, 1, 9, 31), 'passenger_count__999': '\\N', 'trip_distance__999': 0.99, 'tip_amount__999': 2.75, 'store_and_fwd_flag__999': '\\N', 'payment_type__999': 0, 'fare_amount__999': 19.57, 'RatecodeID__999': '\\N', 'total_amount__999': 23.12, 'VendorID__999': 2}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)